/** Order Styles **/

.wcr{

    &-order-form{

        background-color: white;

        .wcr-flavours{

            overflow: hidden;

            img{
                width: 70px;
                height: 70px;
                border: none;
            }
        }

        

    }

}