/** Header Styles **/

body{
    > header{

        &::before{
            @media (min-width: 1023px) {
                
                content: "";
                position: absolute;
                width: 100%;
                min-height: 100%;
                height: 100%;
                top:0;
                right: 0;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(../../img/bg-top-1.png);
                background-position-x: right;
                z-index: -1;

            }
        }

        h6{
            font-size: .8rem;
        }

        p{
            max-width: 410px;
        }
    }
}