/** Hedaer Styles **/

body {
    > header {

        background-size: cover;
        background-position: right center;
        background-image: url(../../img/header-bg.jpg);
        background-repeat: no-repeat;

        @media (min-width: 767px) {
            background-size: cover;
            background-position: center center;
        }
    }

    .wcr-intro-text {
        margin-bottom: 4rem;
        @media (min-width: 767px) {
            margin-top: 6rem;
            margin-bottom: 0;
        }
        @media (min-width: 1023px) {
            margin-top: 10rem;
        }
    }

    .wcr-products{

        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        > img{
            position: absolute;
        }

    }
}
