@import "./vars";

// base utils
.wcr {
    
    // apply primary color to text
    &-text-primary {
        color: $primary-color;
    }

    // apply bolder font weight
    &-text-bolder{
        font-weight: 900;
    }

    // apply primary color to background
    &-bg-primary{
        background-color: $primary-color;
    }

    // logo style
    &-logo{
        
        font-weight: 900;

        > small{
            font-weight: 300;
            display: block;
            clear: both;
            font-size: .6em;
        }
    }
}
